table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

td {
  padding: 5px
}

.navigation {
  display: flex;
  justify-content: center;
}

/* images */
.content-container {
    display: flex;
    justify-content: center;
}

.image-text {
  width: 300px;
  display:block;
}

.image-bottom {
  display:flex;
  align-items: flex-end;
}
